<main class="main">
  <section class="sectionOne">
    <form method="GET">
      <input
        class="sectionOne__input js__inputShows"
        type="text"
        name="shows"
        placeholder="Search shows..."
      />
      <input
        class="js__btnSearch sectionOne__btnSearch"
        type="button"
        value="Search"
      />
    </form>
    <h2 class="sectionOne__FavShows">Mis series favoritas</h2>
    <ul class="sectionOne__FavList js__favoriteShowsList"></ul>
    <input
      class="js__btnDeleteList sectionOne__btnDelete"
      type="button"
      value="Borrar favoritos"
    />
  </section>

  <section class="sectionTwo js__containerShows"></section>
</main>
