// @import 'core/variables';
@import 'core/reset';
// @import 'components/code';
// @import 'components/links';
// @import 'layout/page';
// @import 'layout/header';
// @import 'layout/footer';
// @import 'pages/index';

.movieFavoriteBckColor {
  background-color: red;
  color: blue;
  font-size: 12px;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.sectionOne {
  width: 60%;
}

.sectionTwo {
  width: 30%;
}

.sectionTwo__img {
  width: 80%;
}

// .movieFavoriteTextColor {
//   color: blue;
// }
