@import 'core/variables';
@import 'core/reset';
// @import 'components/code';
// @import 'components/links';
// @import 'layout/page';
// @import 'layout/header';
// @import 'layout/footer';
// @import 'pages/index';

//header
.header__title {
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: $color-header;
  font-weight: 700;
}

//sectionOne
.showFavoriteBckColor {
  background-color: $color_main;
  color: $color-white;
  font-size: 12px;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  padding: 10px;
}

.sectionOne {
  width: 30%;
  &__input {
    padding: 5px 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 2px solid $color_main;
    border-radius: 4px;
  }
  &__FavShows {
    text-align: center;
    color: $color_main;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 14px;
  }
  &__FavList {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__list {
    width: 80%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }
  &__btnDelete {
    margin-top: 10px;
    background-color: $color_main;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    color: $color-white;
  }
  &__titleShow {
    font-size: 12px;
  }
  &__btnSearch {
    background-color: $color_main;
    padding: 5px 10px;
    border-radius: 10px;
    margin-left: 5px;
    outline: none;
    border: none;
    color: $color-white;
    font-size: 12px;
  }
  &__img {
    width: 20%;
    border-radius: 10px;
    font-size: 18px;
  }
}

.fa-times {
  color: $color_main;
  font-size: 18px;
}

.sectionTwo {
  width: 70%;
  &__ul {
    width: 100%;
    max-width: 780px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__li {
    list-style: none;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__img {
    width: 80%;
    border-radius: 10px;
    margin-top: 14px;
    margin-bottom: 14px;
  }
  &__titleShow {
    margin-bottom: 10px;
    font-size: 14px;
  }
}

// .movieFavoriteTextColor {
//   color: blue;
// }
